#add_form { 
    position: absolute;
    top: 5vh;
    left: 5vmax;
    width: auto;
    height: auto;
    z-index: 5;
    background-color: #FFFFFF;
    padding: 5px;
    border: 1px solid rgb(138, 138, 138);
    text-align: left;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}


#license_div { 
    position: absolute;
    bottom: 2vh;
    left: 5vmax;
    width: auto;
    height: auto;
    z-index: 5;
    background-color: #FFFFFF;
    padding: 5px;
    border: 1px solid rgb(138, 138, 138);
    text-align: left;
    font-family: 'Roboto','sans-serif';
    font-size: small;
    line-height: 30px;
    padding-left: 10px;
}


#refresh_but { 
    text-align: right;
    font-family: 'Roboto','sans-serif';
}




  
  